@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.Logo {
    background-image: url(./logo.png);
}

.Icon {
    filter: grayscale(20%);
}

.BottomNav {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Vbody{
    min-height: 100vh;
    position: relative;
}